
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f3f3;
}

.img-title img{
  max-width: 35%;
  object-fit: cover;
  margin-bottom: 10px;
}

.info {
  margin-bottom: 10px;
}

.info h6{
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.info h3{
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 4px;
}


.info_data {
  display: flex;
  justify-content: space-between;
}


.info_data .data {
  width: 50%;
}

.info_data .data h4 {
    color: #353c4e;
}

.info_data .data p {
  font-size: 17px;
  color: #919aa3;
}

.social_media{
  margin-top: 15px;
}
.social_media ul{
  display: flex;
  margin-top: 15px;
}

.social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}

.button-new-chat button{
  width: 150px;
  height: 36px;
  background-color: #ecefff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #9B9ECE;
  padding: 1px;
  border-radius: 5px;
  line-height: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.button-new-chat i {
  display: block;
}
#newChat button{
  background-color: #9B9ECE;
  color: #fff;
}

