.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}
h2 {
    text-align: center;
}
h3{
    text-align: center;
    font-style:italic;
    margin-top: 3%;
}
#myInput {
  margin-top: 10px ;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form-check-label{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

.form-check :hover:not(.header) {
  background-color: #eee;
}

#checkbox{
  float: right;
  margin-left: 20%;
}
.busqueda{
    width: 30%;
    float: left;
    margin-left: 3%;
    margin-right: 4%; 
}
.configGrupo{
    width: 60%;
    float: right;
    margin-right: 3%;
}
.form-control, .input-group-text{
    margin-top: 2%
}
#fotoGrupo{
    display: block;
    margin-top: 2%;    
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}